*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.email-us-body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #3182b8, #dd219e);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
}
