* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 241, 241);
}

img {
    width: 100%;
    object-fit: contain;
}